@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
    --bg-color: white;
    --main-color: black;
}

body {
    display: flex;
    transition: background 5s linear;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    /* Fallback */
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.night {
    --bg-color: #121212;
    --main-color: white;
}

.day {
    --bg-color: #ffeaa7;
    --main-color: #2d3436;
}

.evening {
    --bg-color: #686de0;
    --main-color: #dfe4ea;
}

.morning { 
    --bg-color: #4bcffa;
}

main {
    margin: auto;
    display: flex;
    flex-direction: column;
}
#date {
    font-size: 2em;
    text-align: center;
    transition: color 1s linear;
    color: var(--main-color);
    font-weight: 100;
}
#clock {
    font-size: 7em;
    text-align: center;
    transition: color 1s linear;
    color: var(--main-color);
    font-weight: 100;
}

@media (max-width: 480px) {
    #clock { 
        font-size: 18vw;
    }
    #date {
        font-size: 8vw;
    }
  }